<form id="update-profile-form" action="/updateProfile" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Введите новое имя пользователя">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Новый пароль:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Введите новый пароль">
    </div>
    <div class="mb-3">
        <label for="confirm-password" class="form-label">Подтвердите пароль:</label>
        <input type="password" class="form-control" id="confirm-password" name="confirmPassword" placeholder="Подтвердите новый пароль">
    </div>
    <button type="submit" class="btn btn-primary">Обновить профиль</button>
</form>
<div>
    <h1 style="color: red;">{{error}}</h1>
</div>
