<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/services">МОЙ-ДО-ДЫР</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employees">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Поддержка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
            <form class="d-flex" role="search" id="searchForm" action="/searchService" method="GET">
                <input class="form-control me-2" type="search" placeholder="Найти..." aria-label="Search" id="searchInput" name="query">
                <button class="btn btn-outline-light" type="submit">Поиск</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#searchForm').submit(function(e){
                    e.preventDefault();
                    var query = $('#searchInput').val();
                    var url = $(this).attr('action') + '?query=' + encodeURIComponent(query);
                    window.location.href = url;
                });
            });
        </script>
    </div>
</nav>